/**
 * CONTENTS
 *
 * COMPONENTS
 * Navigation........Navigation bar style.
 * Buttons...........Button styling.
 * Wrapper...........Content wrapper.
 * Figure............Figure and figcaption element style.
 * Picture...........Picture element size.
 * Animation.........Picture animation.
 * Timeline..........Vertical timeline formating.
 * Form..............Login form formating.
 * Pricing table.....Table for prices.
 * Footer............Background.
 *
 */


/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/


/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.btn {
    display: inline-flex;
    border: 2px solid transparent;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .btn--primary {
        background-color: var(--bg-btn);
        border-color: #dadee4;
        color: var(--font-color-btn);
        padding: .25rem;
    }


    .btn--contact {
        display: block;
        width: 100%;
        padding: .5rem 0;
    }


/*------------------------------------*\
  #WRAPPER
\*------------------------------------*/

.content-wrapper {
    margin: 1rem 0;
}

    /*H3 heading title for section*/
    .content__title {
        display: block;
        width: 100%;
        border-bottom: 2px solid var(--font-color-primary-strong);
        margin-top: 1rem; 
    }

/*------------------------------------*\
  #FIGURE
\*------------------------------------*/

figure {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 1rem;
    justify-content: center;
    align-content: center;
}

    figcaption {
        font-size: clamp(16px, 2.6vw, 22px);
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
        color: var(--font-color-primary-strong);
        text-align: center;
        margin: .5rem 0;
    }


/*------------------------------------*\
  #PICTURE
\*------------------------------------*/

.content__pic {
    object-fit:  cover;
    width: 100%;
}


/*------------------------------------*\
  #FORM
\*------------------------------------*/

.contact { justify-content: normal; }

@media screen and (min-width: 768px) {
    form {
        width: 90%;
        height: 90%;
        align-self: center;
    }
}

.form {
    justify-content: space-around;
}

.form__input-field {
    display: block;
    width: 100%;
    padding: .5rem;
    border: 0;
    border-bottom: 2px solid;
    border-color: transparent;
    margin-bottom: 1rem;
    background-color: var(--bg-alternate);
    outline: none;
    font-size: 1rem;
    flex-shrink: 1;
}

    .form__input-field:focus {
        border-bottom-color: var(--bg-btn);
    }

    .form__input-field::placeholder {
        font-weight: bold;
        opacity: .25;
    }

    .form__input-field--textarea {
        flex-grow: 2;
    }


/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
    background-color: var(--bg-alternate);
}

    .footer__text {
        display: block;
        width: 100%;
        text-align: center;
        font-size: clamp(12px, 2vw, 16px);
        padding: .5rem;
        margin: 0;
    }